<div class="sidebar">

    <app-sidebar-item 
        label="Dashboard" 
        icon="fab fa-angular fa-lg" 
        routerLink="dashboard"
        title="Dashboard">
    </app-sidebar-item>

    <app-sidebar-item 
        label="All items" 
        icon="fas fa-helicopter fa-lg" 
        routerLink="allItems"
        title="All items">
    </app-sidebar-item>

    <app-sidebar-item 
        label="Settings" 
        icon="fas fa-sliders-h fa-lg" 
        routerLink="settings"
        title="Settings">
    </app-sidebar-item>

    <app-sidebar-item 
        label="Login"
        icon="fas fa-sign-in-alt"
        routerLink="/login"
        title="Login">
    </app-sidebar-item>

</div>
