<a class="sidebar-item" routerLink="pages/dashboard">
    <div class="item-icon">
        <i class="fab fa-angular fa-lg"></i>
    </div>
    <div class="item-name">
        <span>Dashboard</span>
    </div>
</a>
<a class="sidebar-item" routerLink="pages/allItems">
    <div class="item-icon">
        <i class="fas fa-helicopter fa-lg"></i>
    </div>
    <div class="item-name">
        <span>All items</span>
    </div>
</a>
<a class="sidebar-item" routerLink="pages/settings">
    <div class="item-icon">
        <i class="fas fa-sliders-h fa-lg"></i>
    </div>
    <div class="item-name">
        <span>Settings</span>
    </div>
</a>
<a class="sidebar-item" routerLink="">
    <div class="item-name">
        <span>Logout</span>
    </div>
</a>

<div class="counter-container">
  <div>{{counter}}</div>
</div>
