<div class="child-comp-container">
    <h1>TODOS COMPONENT</h1>

    <input (keyup.enter)="onAddTodo(todoTitleInput.value)" #todoTitleInput type="text" placeholder="Todo title...">
    <button (click)="onAddTodo(todoTitleInput.value)">ADD</button>

    <app-child [todo]="{id: 1, title: 'PRueba', isCompleted: false}" (onComplete)="onComplete($event)" (onRemove)="onComplete($event)"></app-child>
    <!-- <app-child></app-child>
    <app-child></app-child>
    <app-child></app-child>
    <app-child></app-child> -->
</div>