:host {
  display: flex;
  height: 40px;

  align-items: center;
  justify-content: space-between;

  background: ghostwhite;
  box-shadow: 0 -0.5rem 1rem 0 rgba(44,51,73,.1);
  padding: 0 10px;
}

.name-container {
  display: flex;
  flex-direction: row;

  font-weight: bold;

  i {
    margin-left: 5px;
    align-self: center;
    position: relative;
    top: 1px;
  }
}

.social-container {
  i {
    margin: 0 5px;
  }
}
